<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10 ">
        <h1 class="text-3xl m-3">Login User</h1>
        <form action="/login" method="post" >
            <input type="email" class="px-5 py-2 bg-zinc-800 outline-none rounded-lg m-2" placeholder="email" name="email">
            <input type="password" class="px-5 py-2 bg-zinc-800 outline-none rounded-lg m-2" placeholder="password" name="password">
            <input type="submit" class="px-5 py-2 bg-yellow-500 rounded-lg ml-5 cursor-pointer hover:bg-yellow-600 transition duration-200" value="login" >
        </form>
    </div>
</body>
</html>